*$*.class
/AddUser.class
/EventPageSetup.class
/FestivalObject.class
/FinalRaceGeneration.class
/FontClass.class
/FontObject.class
/LoginInfo.class
/MainMenu.class
/RaceObject.class
/RemoveUser.class
/Results.class
/SaveAndLoad.class
/Schedule.class
/SemiFinalRaceGeneration.class
/Settings.class
/TeamObject.class
/TimeTrialRaceGeneration.class
/UserLogin.class
